{% extends 'base.html' %}

{% block content %}

<ul class="nav justify-content-center bg-dark">
    <li class="nav-item">
      <a class="nav-link" href="/view_members/">View Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view_books/">View Books</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/view_issued_books/">Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/issue_book/">Issue Book</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout/">Logout</a>
    </li>
</ul>

{% block app_content %}{% endblock %}
{% endblock %}